@media (max-width: 600px) {
  .adventages__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 0 15px 20px;
  }
  .adventages__column:last-child {
    padding: 0 15px 0;
  }
  .adventages__title {
    font-size: 22px;
  }
  /* ============================================================ */
  .experience {
    padding: 60px 0;
  }
  .experience__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0 15px 20px;
  }
  .experience__title {
    font-size: 32px;
  }
  .experience__body {
    margin: 0 0 30px;
  }
  .body__title {
    font-size: 32px;
  }
  /* ============================================================== */
  .practice {
    padding: 0;
  }
  .practice__body {
    margin: 0 0 30px;
  }
}
