@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  font-family: Montserrat, sans-serif;
  font-style: normal;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  background-color: #fafafa;
}

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ШАПКА */
.header {
  padding: 36px 0;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin: 0 132px 0 0;
}

.header__logo a {
  font-size: 24px;
  font-weight: 700;
  line-height: calc(32 / 24 * 100%);
  letter-spacing: 0.1px;
  color: #252b42;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -10px;
}

.header__item {
  padding: 0 10px;
}

.header__link {
  font-size: 14px;
  font-weight: 600;
  line-height: calc(24 / 14 * 100%);
  letter-spacing: 0.2px;
  color: #737373;
}

/* ============================================================================= */
/* КОНТЕНТ */
/* SECTION FINANCE */
.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.finance {
  padding: 80px 0 191px 0;
  background: url("../img/bg-cover.jpg") right/cover no-repeat;
}

.finance__body {
  max-width: 400px;
}

.finance__body > *:not(:last-child) {
  margin: 0 0 35px;
}

.finance__title {
  font-size: 58px;
  font-weight: 800;
  line-height: calc(80 / 58 * 100%);
  letter-spacing: 0.2px;
  color: #252b42;
}

.finance__text {
  font-size: 20px;
  font-weight: 500;
  line-height: calc(30 / 20 * 100%);
  color: #737373;
}

.finance__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.finance__button {
  display: block;
  padding: 10px 36px;
  border: 37px;
}

.finance__button:not(:last-child) {
  margin: 0 10px 0 0;
}

.finance__button--orange {
  background-color: #ff7b47;
  color: #fff;
  border-radius: 37px;
}

.finance__button--green {
  border: 2px solid #0d5c63;
  color: #0d5c63;
  border-radius: 37px;
}

.btn {
  font-size: 14px;
  font-weight: 700;
  line-height: calc(28 / 14 * 100%);
  letter-spacing: 0.2px;
  text-align: center;
}

/* --------------------------------------------------------------------- */
/* ADVANTAGES SECTION */
.adventages {
  margin: -111px 0 0;
}

.adventages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.adventages__column {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.adventages__item {
  min-height: 100%;
  padding: 35px 40px;
  background-color: #fff;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.adventages__item > *:not(:last-child) {
  margin: 0 0 10px;
}

.adventages__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.adventages__title {
  font-size: 24px;
  font-weight: 700;
  line-height: calc(32 / 24 * 100%);
  letter-spacing: 0.1px;
  color: #252b42;
}

.adventages__text {
  font-size: 14px;
  font-weight: 500;
  line-height: calc(20 / 14 * 100%);
  letter-spacing: 0.2px;
  color: #737373;
}

.item__advantages {
  background-color: #0d5c63;
}

.item__advantages .adventages__title {
  color: #fff;
}

.item__advantages .adventages__text {
  color: #fff;
}

/* ------------------------------------------------------------ */
/* EXPERIENCE SECTION */
.experience {
  padding: 80px 0;
}

.experience__body {
  margin: 0 0 50px;
}

.experience__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.experience__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 15px;
}

.experience__item {
  padding: 30px;
  background-color: #fff;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience__item > *:not(:last-child) {
  margin: 0 0 10px;
}

.experience__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 48px;
}

.experience__title {
  font-size: 40px;
  font-weight: 700;
  line-height: calc(57 / 40 * 100%);
  letter-spacing: 0.2px;
  color: #252b42;
}

.experience__text {
  font-size: 16px;
  font-weight: 700;
  line-height: calc(24 / 16 * 100%);
  letter-spacing: 0.1px;
  color: #737373;
  text-align: center;
}

.body {
  text-align: center;
}

.body > *:not(:last-child) {
  margin: 0 0 10px 0;
}

.body__title {
  font-size: 40px;
  font-weight: 700;
  line-height: calc(57 / 40 * 100%);
  letter-spacing: 0.2px;
  color: #252b42;
}

.body__text {
  font-size: 14px;
  font-weight: 500;
  line-height: calc(20 / 14 * 100%);
  letter-spacing: 0.2px;
  color: #737373;
}

/* ------------------------------------------------------ */
/* PRACTICE SECTION */
.practice {
  padding: 80px 0;
}

.practice__body {
  margin: 0 0 50px;
}

.practice__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.practice__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 15px;
}

.practice__item {
  background-color: #fff;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.practice__info {
  padding: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.practice__title {
  font-size: 16px;
  font-weight: 700;
  line-height: calc(24 / 16 * 100%);
  letter-spacing: 0.1px;
  color: #252b42;
  margin: 0 0 10px;
}

.practice__text {
  font-size: 14px;
  font-weight: 500;
  line-height: calc(20 / 14 * 100%);
  color: #737373;
  letter-spacing: 0.2px;
}

.practice__img img {
  width: 100%;
}

/* -------------------------------------------------------------- */
/* WE SECTION */
.we {
  padding: 80px 0;
}

.we__body {
  margin: 0 0 50px;
}

.we__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.we__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
  padding: 0 0 36.833% 0;
  margin: 0 50px 0 0;
}

.we__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.we__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.we__label {
  margin: 0 0 50px;
}

.we__label > *:not(:last-child) {
  margin: 0 0 10px;
}

.we__element1 {
  font-size: 40px;
  font-weight: 700;
  line-height: calc(57 / 40 * 100%);
  letter-spacing: 0.2px;
  color: #252b42;
}

.we__element2 {
  font-size: 14px;
  font-weight: 500;
  line-height: calc(20 / 14 * 100%);
  letter-spacing: 0.2px;
  color: #737373;
}

.we__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.we__item > *:not(:last-child) {
  margin: 0 0 30px;
}

.we__img {
  margin: 0 20px 0 0;
}

.we__block1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.we__title {
  font-size: 16px;
  font-weight: 700;
  line-height: calc(24 / 16 * 100%);
  letter-spacing: 0.1px;
  color: #252b42;
  margin: 0 0 5px;
}

.we__text {
  font-size: 14px;
  font-weight: 600;
  line-height: calc(24 / 14 * 100%);
  letter-spacing: 0.2px;
  color: #737373;
}

@media (max-width: 992px) {
  .finance__body > *:not(:last-child) {
    margin: 0 0 25px;
  }
  .finance__title {
    font-size: 42px;
  }
  .finance__text {
    color: #000;
  }
  /* ============================================================ */
  .adventages__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .adventages__column {
    padding: 0 15px 30px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  /* ============================================================ */
  .experience {
    padding: 50px 0;
  }
  .experience__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .experience__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0 15px 30px;
  }
  .experience__title {
    font-size: 36px;
  }
  .body {
    text-align: center;
  }
  .body > *:not(:last-child) {
    margin: 0 0 10px 0;
  }
  .body__title {
    font-size: 36px;
  }
  /* ================================================================= */
  .practice {
    padding: 50px 0;
  }
  .practice__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0 15px 30px;
  }
}

@media (max-width: 762px) {
  .finance__title {
    font-size: 36px;
  }
  .finance__button--green {
    background-color: #0d5c63;
    color: #fff;
  }
  /* ============================================================ */
}

@media (max-width: 600px) {
  .adventages__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 0 15px 20px;
  }
  .adventages__column:last-child {
    padding: 0 15px 0;
  }
  .adventages__title {
    font-size: 22px;
  }
  /* ============================================================ */
  .experience {
    padding: 60px 0;
  }
  .experience__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0 15px 20px;
  }
  .experience__title {
    font-size: 32px;
  }
  .experience__body {
    margin: 0 0 30px;
  }
  .body__title {
    font-size: 32px;
  }
  /* ============================================================== */
  .practice {
    padding: 0;
  }
  .practice__body {
    margin: 0 0 30px;
  }
}

@media (max-width: 540px) {
  .header {
    padding: 30px 0;
  }
  .header__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__logo {
    margin: 0 0 20px 0;
  }
  /* ============================================================ */
  .finance {
    padding: 40px 0 150px 0;
  }
  .finance__title {
    font-size: 32px;
  }
  /* ================================================================ */
  .adventages {
    margin: -80px 0 0;
  }
  .adventages__item {
    padding: 25px 30px;
  }
  .adventages__title {
    font-size: 20px;
  }
  /* ================================================================= */
  .experience__title {
    font-size: 26px;
  }
  .experience__body {
    margin: 0 0 30px;
  }
  .body__title {
    font-size: 26px;
  }
  /* ================================================================== */
  .practice__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 0 15px 20px;
  }
  .practice__column:last-child {
    padding: 0 15px 0;
  }
}

/* =================================================================== */
/* =================================================================== */
@media (max-width: 400px) {
  .finance__btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .finance__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .finance__button:not(:last-child) {
    margin: 0 0 10px 0;
  }
}
