@media (max-width: 540px) {
	.header {
		padding: 30px 0;
		&__row {
			flex-direction: column;
			align-items: flex-start;
		}
		&__logo {
			margin: 0 0 20px 0;
		}
	}
	/* ============================================================ */

	.finance {
		padding: 40px 0 150px 0;
		&__title {
			font-size: 32px;
		}
	}
	/* ================================================================ */

	.adventages {
		margin: -80px 0 0;
		&__item {
			padding: 25px 30px;
		}
		&__title {
			font-size: 20px;
		}
	}
	/* ================================================================= */

	.experience {
		&__title {
			font-size: 26px;
		}
		&__body {
			margin: 0 0 30px;
		}
	}
	.body {
		&__title {
			font-size: 26px;
		}
	}
	/* ================================================================== */

	.practice {
		&__column {
			flex: 1 1 auto;
			padding: 0 15px 20px;
			&:last-child {
				padding: 0 15px 0;
			}
		}
	}
}

/* =================================================================== */
/* =================================================================== */
@media (max-width: 400px) {
	.finance {
		&__btn {
			flex-direction: column;
		}
		&__button {
			flex: 1 1 auto;
			&:not(:last-child) {
				margin: 0 0 10px 0;
			}
		}
	}
}
