@media (max-width: 600px) {
	.adventages {
		&__column {
			flex: 1 1 auto;
			padding: 0 15px 20px;
			&:last-child {
				padding: 0 15px 0;
			}
		}
		&__title {
			font-size: 22px;
		}
	}
	/* ============================================================ */
	.experience {
		padding: 60px 0;
		&__column {
			flex: 1 1 100%;
			padding: 0 15px 20px;
		}
		&__title {
			font-size: 32px;
		}
		&__body {
			margin: 0 0 30px;
		}
	}
	.body {
		&__title {
			font-size: 32px;
		}
	}
	/* ============================================================== */

	.practice {
		padding: 0;
		&__body {
			margin: 0 0 30px;
		}
	}
}
