@media (max-width: 992px) {
	.finance {
		&__body {
			& > *:not(:last-child) {
				margin: 0 0 25px;
			}
		}
		&__title {
			font-size: 42px;
		}
		&__text {
			color: #000;
		}
	}
	/* ============================================================ */

	.adventages {
		&__row {
			flex-wrap: wrap;
		}
		&__column {
			padding: 0 15px 30px;
			flex: 0 1 50%;
		}
	}
	/* ============================================================ */

	.experience {
		padding: 50px 0;
		&__row {
			flex-wrap: wrap;
		}
		&__column {
			flex: 0 1 50%;
			padding: 0 15px 30px;
		}
		&__title {
			font-size: 36px;
		}
	}
	.body {
		text-align: center;
		& > *:not(:last-child) {
			margin: 0 0 10px 0;
		}
		&__title {
			font-size: 36px;
		}
	}
	/* ================================================================= */

	.practice {
		padding: 50px 0;
		&__row {
			flex-wrap: wrap;
		}
		&__column {
			flex: 0 1 50%;
			padding: 0 15px 30px;
		}
	}
}
