@import "nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

$main-color: #737373;
$btn-sec: #0d5c63;
$secondary-color: #252b42;
$btn-main: #ff7b47;

* {
	font-family: Montserrat, sans-serif;
	font-style: normal;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
	background-color: #fafafa;
}
[class*="__container"] {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

/* ШАПКА */
.header {
	padding: 36px 0;
	&__row {
		display: flex;
		align-items: center;
	}
	&__logo {
		margin: 0 132px 0 0;
		a {
			font-size: 24px;
			font-weight: 700;
			line-height: calc(32 / 24 * 100%);
			letter-spacing: 0.1px;
			color: $secondary-color;
		}
	}
	&__list {
		display: flex;
		align-items: center;
		margin: 0 -10px;
	}
	&__item {
		padding: 0 10px;
	}
	&__link {
		font-size: 14px;
		font-weight: 600;
		line-height: calc(24 / 14 * 100%);
		letter-spacing: 0.2px;
		color: $main-color;
	}
}
/* ============================================================================= */

/* КОНТЕНТ */
/* SECTION FINANCE */
.content {
	flex: 1 1 auto;
}
.finance {
	padding: 80px 0 191px 0;
	background: url("../img/bg-cover.jpg") right/cover no-repeat;
	&__row {
	}
	&__body {
		max-width: 400px;
		& > *:not(:last-child) {
			margin: 0 0 35px;
		}
	}
	&__title {
		font-size: 58px;
		font-weight: 800;
		line-height: calc(80 / 58 * 100%);
		letter-spacing: 0.2px;
		color: $secondary-color;
	}
	&__text {
		font-size: 20px;
		font-weight: 500;
		line-height: calc(30 / 20 * 100%);
		color: $main-color;
	}
	&__btn {
		display: flex;
	}
	&__button {
		display: block;
		padding: 10px 36px;
		border: 37px;
		&:not(:last-child) {
			margin: 0 10px 0 0;
		}
	}
	&__button--orange {
		background-color: $btn-main;
		color: #fff;
		border-radius: 37px;
	}
	&__button--green {
		border: 2px solid $btn-sec;
		color: $btn-sec;
		border-radius: 37px;
	}
}
.btn {
	font-size: 14px;
	font-weight: 700;
	line-height: calc(28 / 14 * 100%);
	letter-spacing: 0.2px;
	text-align: center;
}
/* --------------------------------------------------------------------- */

/* ADVANTAGES SECTION */
.adventages {
	margin: -111px 0 0;
	&__row {
		display: flex;
		margin: 0 -15px;
	}
	&__column {
		padding: 0 15px;
		flex: 0 1 33.333%;
	}
	&__item {
		min-height: 100%;
		padding: 35px 40px;
		background-color: #fff;
		box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
		& > *:not(:last-child) {
			margin: 0 0 10px;
		}
	}
	&__img {
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
	}
	&__title {
		font-size: 24px;
		font-weight: 700;
		line-height: calc(32 / 24 * 100%);
		letter-spacing: 0.1px;
		color: $secondary-color;
	}
	&__text {
		font-size: 14px;
		font-weight: 500;
		line-height: calc(20 / 14 * 100%);
		letter-spacing: 0.2px;
		color: $main-color;
	}
}
.item__advantages {
	background-color: $btn-sec;
	.adventages__title {
		color: #fff;
	}
	.adventages__text {
		color: #fff;
	}
}
/* ------------------------------------------------------------ */

/* EXPERIENCE SECTION */
.experience {
	padding: 80px 0;
	&__content {
	}
	&__body {
		margin: 0 0 50px;
	}
	&__row {
		display: flex;
		margin: 0 -15px;
	}
	&__column {
		flex: 0 1 25%;
		padding: 0 15px;
	}
	&__item {
		padding: 30px;
		background-color: #fff;
		min-height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		& > *:not(:last-child) {
			margin: 0 0 10px;
		}
	}
	&__img {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		height: 48px;
	}
	&__title {
		font-size: 40px;
		font-weight: 700;
		line-height: calc(57 / 40 * 100%);
		letter-spacing: 0.2px;
		color: $secondary-color;
	}
	&__text {
		font-size: 16px;
		font-weight: 700;
		line-height: calc(24 / 16 * 100%);
		letter-spacing: 0.1px;
		color: $main-color;
		text-align: center;
	}
}
.body {
	text-align: center;
	& > *:not(:last-child) {
		margin: 0 0 10px 0;
	}
	&__title {
		font-size: 40px;
		font-weight: 700;
		line-height: calc(57 / 40 * 100%);
		letter-spacing: 0.2px;
		color: $secondary-color;
	}
	&__text {
		font-size: 14px;
		font-weight: 500;
		line-height: calc(20 / 14 * 100%);
		letter-spacing: 0.2px;
		color: $main-color;
	}
}
/* ------------------------------------------------------ */

/* PRACTICE SECTION */
.practice {
	padding: 80px 0;
	&__content {
	}
	&__body {
		margin: 0 0 50px;
	}
	&__row {
		display: flex;
		margin: 0 -15px;
	}
	&__column {
		flex: 0 1 25%;
		padding: 0 15px;
	}
	&__item {
		background-color: #fff;
		min-height: 100%;
		display: flex;
		flex-direction: column;
	}
	&__info {
		padding: 30px;
		flex: 1 1 auto;
	}
	&__title {
		font-size: 16px;
		font-weight: 700;
		line-height: calc(24 / 16 * 100%);
		letter-spacing: 0.1px;
		color: $secondary-color;
		margin: 0 0 10px;
	}
	&__text {
		font-size: 14px;
		font-weight: 500;
		line-height: calc(20 / 14 * 100%);
		color: #737373;
		letter-spacing: 0.2px;
	}
	&__img {
		img {
			width: 100%;
		}
	}
}
/* -------------------------------------------------------------- */

/* WE SECTION */
.we {
	padding: 80px 0;
	&__content {
	}

	&__body {
		margin: 0 0 50px;
	}

	&__row {
		display: flex;
	}

	&__video {
		flex: 0 0 50%;
		position: relative;
		padding: 0 0 36.833% 0;
		margin: 0 50px 0 0;
		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}

	&__block {
		flex: 1 1 auto;
	}

	&__label {
		margin: 0 0 50px;
		& > *:not(:last-child) {
			margin: 0 0 10px;
		}
	}

	&__element1 {
		font-size: 40px;
		font-weight: 700;
		line-height: calc(57 / 40 * 100%);
		letter-spacing: 0.2px;
		color: $secondary-color;
	}

	&__element2 {
		font-size: 14px;
		font-weight: 500;
		line-height: calc(20 / 14 * 100%);
		letter-spacing: 0.2px;
		color: $main-color;
	}

	&__items {
	}

	&__item {
		display: flex;
		& > *:not(:last-child) {
			margin: 0 0 30px;
		}
	}

	&__img {
		margin: 0 20px 0 0;
	}

	&__block1 {
		flex: 1 1 auto;
	}

	&__title {
		font-size: 16px;
		font-weight: 700;
		line-height: calc(24 / 16 * 100%);
		letter-spacing: 0.1px;
		color: $secondary-color;
		margin: 0 0 5px;
	}

	&__text {
		font-size: 14px;
		font-weight: 600;
		line-height: calc(24 / 14 * 100%);
		letter-spacing: 0.2px;
		color: $main-color;
	}
}

@import "md992";
@import "md762";
@import "md600";
@import "md540";
